
html,
body {
  margin: 0;
  padding: 10;
  line-height: 1.5;
  font-size: 30px;
}
/* Navigation bar design */
nav ul li {
  display: inline-block;
}

nav {
  width: 50%;
  display: inline-block;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a {
  margin-right: 50px;
  color: #e3e3e3;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.5s ease all;
}

nav ul li a:hover {
  background: antiquewhite;
  border-radius: 100px;
}

nav button{
  border-radius: 100px;
  padding: 10px 20px;
}
body {
  color: antiquewhite;
  font-family: "Merriweather", serif;
}
/* Footer */
footer {
  line-height: 2.5;
  font-size: 21px;
  background: #233142;
  padding: 20px;
  text-align: center;
  color: #e3e3e3a9;
}

/* Header design */
header {
  background: #233142;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
}

.features__header {
  text-align: center;
  margin-bottom: 30px;
}

.features__header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}
#icon img {
  width: 150px;
  border-radius: 0px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Icon */
#icon {
  display: inline-block;
  color: #233142;
  width: 49%;
}

/*Ag grid and table design*/
div.ag-theme-balham div.ag-row {
  font-size: 15px !important;
}

.ag-theme-balham{
  margin-left: 145px;
}

.volcanoNums{
  margin-right: 10px;
  font-weight: bolder;
}
.formHero p {
  color: antiquewhite;
}

/*Home design*/
main.Home h1{
  font-size: 150px;
  text-align: center;
  color: antiquewhite;
}


/* Hero content design */
.hero__title {
  font-weight: bolder;
  line-height: 200px;
  font-size: 100px;
  margin: 0;
  font-family: "Merriweather", serif;
}

.hero__subtitle {
  line-height: 100px;
  font-size: 30px;
  font-style: italic;
}

.hero {
  min-height: 900px;
  text-align: center;
  background-image: url("/public/img/hero_bg.jpg");
  background-size: cover;
}

.hero__content {
  font-weight: 100;
  color: #e3e3e3;
  padding-top: 25px;
}

.hero__content a {
  font-weight: bold;
  display:inline-grid;
  color: #e3e3e3;
  border: 5px solid #e3e3e3;
  border-radius: 100px;
  padding: 15px 40px;
  margin: 0px 10px;
  text-decoration: solid;
  font-size: 30px;
  transition: transform 1s;
}

.hero__content a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* Login's and Register's Hero design */
.formHero {
  min-height: 950px;
  text-align: center;
  background-image: url("/public/img/hero_bg.jpg");
  background-size: cover;
}
.formHero h1{
  margin-bottom: 60px;
  margin-right: 30px;
  line-height: 200px;
  color: antiquewhite;
  font-size: 90px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.formHero div  label{
  font-weight: bolder;
  color: #e3e3e3;
  margin-right: 95px;
}
.formHero div input{
  border-radius: 10px;
  margin-right: 100px;
  padding: 4px 10px;
}
.email_container{
  margin-bottom: 50px ;
  margin-right: 70px;
}
.password_container{
  margin-bottom: 50px ;
  margin-right: 120px;
}
.submit_button{
  border-radius: 100px;
  font-size: 25px;
  font-weight: 650;
  color: rgb(211, 211, 211);
  background-color: rgb(58, 58, 58);
  padding: 5px 20px;
  border: #000000;
}
/* Login error message */
.error_msg {
  margin-top: 150px;
  color: #f95959;
  font-size: 30px;
  align-content: center;
  font-weight: bold;
}
/* Design for volcano search bar */
.searchForm select{
  font-weight: 650;
  color: rgba(57, 57, 57, 0.682);
  border-radius: 100px;
  padding: 4px 5px;
  margin-left: -80px;
  margin-bottom: 25px;
  font-family: "Merriweather", serif;
  font-size: 40px;
}
.searchForm label{
  margin-left: 10px;
}

.searchForm button{
  margin-left: 15px;
  font-size: 30px;
}

/* Design for volcano's details page */
.volcanoDetailsPage{
  min-height: 950px;
  text-align: left;
  background-image: url("/public/img/hero_bg.jpg");
  background-size: cover;
 }

 .volcanoDetailsPage label{
  color: antiquewhite;
   margin-left: 50px;
   font-size: 55px;
   font-weight: bolder;
  font-family: "Merriweather", serif;
 }

 .volcanoDetailsPage p{
  margin-left: 70px;
  color: #e3e3e3;
  font-size: 90px;
  font-weight: bold;
  font-family: "Merriweather", serif;
 }
 .volcanoDetailsPage button{
  font-size: 40px;
  padding: 10px 10px;
  font-weight: 600;
  color: antiquewhite;
  
}
.volcanoDetailsPage label1{
  color: antiquewhite;
  margin-left: 50px;
  font-size: 70px;
  font-weight: bolder;
  font-family: "Merriweather", serif;
}
.volcanoDetailsPage h1{
  color: antiquewhite;
  margin-left: 50px;
  font-size: 90px;
  font-weight: bolder;
  font-family: "Merriweather", serif;
 }
 .volcanoDetailsPage p{
  text-decoration: none;
  display: block;
  color: #e3e3e3;

  font-weight: 400;
  font-family: "Merriweather", serif;
 }

 .volcanoDetailsPage p1{
   margin-left: 40px;
   color: #e3e3e3;
   font-size: 50px;
   font-weight: bolder;
   font-family: "Merriweather", serif;
 }


.country{
  margin-right: 140px;
}
.region{
  margin-right: 170px;
}
.subregion{
  margin-right: 85px;
}
.summit{
  margin-right: 140px;
}
.elevation{
  margin-right: 105px;
}
.latitude{
  margin-right: 130px;
}
.longitude{
  margin-right: 90px;
}
